body{
    background: black;
}
.name{
    color:wheat;
    background-attachment: fixed;
     border: 1px solid #0c011e50; 
     width:250px;
     height:50px; 
     margin:20px auto;
     display:flex;
     margin: auto;
    text-align: center;


}
.letter-holder{
    background-color:black;
    color:red; 
  
    width:800px;
    height:300px; 
    display:flex;
    gap:11px;
    flex-wrap:wrap; 
    margin:0 auto; 
    padding:10px;
    border-radius: 5px;
    justify-content: space-between;
  
  
}
.key{
    height: 40px;
    width: 40px;
    border: 2px solid white;
    text-align: center;
    color: red;
    background-color:black;
    border-radius: 5px;
    margin: auto;
    line-height: 40px;
}
.key:hover{
    background-color:rgb(59, 56, 56);
}

.arrow{
    display: flex;
    flex-direction: column;

}
.up, .dawn {
    height: 16px;
    width: 32;
    border: 2px solid white;
    text-align: center;
    line-height: 20px;
}
.shift-left{
    width: 90px;
}
.shift-right{
    width: 40px;
}

.tab{
    width: 70px;
}

.caps{
    width: 80px;
}
.ctrl-left,
.ctrl-right{
    width: 50px;
}

.space{
    width: 300px;
}

.enter{
    width: 80px;
}
.backspace{
    width: 80px; 
}
.active{
    background-color:rgb(59, 56, 56);
}